{% extends 'SunshineThemeBundle:Theme:Base/base.html.twig' %}

{% use 'SunshineThemeBundle:Slots:slots.html.twig' %}


{# BEGIN-EXTERNAL-STYLESHEETS
@SunshineThemeBundle/Resources/public/css/reset.css
@SunshineThemeBundle/Resources/public/css/960.css
@SunshineThemeBundle/Resources/public/css/text.css
@SunshineThemeBundle/Resources/public/css/internal.css
END-EXTERNAL-STYLESHEETS #}

{# BEGIN-EXTERNAL-JAVASCRIPTS
@RedKiteLabsThemeEngineBundle/Resources/public/js/vendor/jquery/*
@SunshineThemeBundle/Resources/public/js/mb.bgndGallery.js
END-EXTERNAL-JAVASCRIPTS #}

{% block contents %}
    <div id="column_1" class="grid_4 alpha">
        <div id="left_sidebar">
            <div id="box_title_1_ext_left_sidebar" class="box_title">
                {{ block('box_title_1') }}
            </div>
            <div id="nav_menu_ext_left_sidebar" class="box_contents">
                {{ block('nav_menu_4') }}
            </div>
            <div>
                <div class="box_title">
                    {{ block('box_title_2') }}
                </div>
                <div class="box_contents">
                    {{ block('friends_box') }}
                </div>
            </div>
        </div>
    </div>

    <div id="column_2" class="grid_9">
        <div id="middle_sidebar">
            {{ block('middle_sidebar') }}
        </div>
    </div>

    <div id="column_3" class="grid_3 omega">
        <div id="right_sidebar">
            <div id="ads_box">
                {{ block('ads_box') }}
            </div>
            <div id="tweets_box" class="box_contents">                
                {{ block('tweets_box') }}
            </div>
        </div>
    </div>
{% endblock %}