{% extends base_template %}

{% use 'SunshineThemeBundle:Slots:slots.html.twig' %}


{% block body %}
    <div id="background">
        <div id="twitter">
            {{ block('feedback_box') }}            
        </div>
        <div id="header" class="container_16">
            <div  class="grid_7">
                <div id="logo">
                    {{ block('logo') }}
                </div>
            </div>
            <div class="grid_9">
                <div id="search_box" class="float_right">
                {{ block('search_box') }}
                </div>
                <div class="clear"></div>
                <div id="nav_menu" class="float_right">
                    {{ block('nav_menu') }}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="container" class="container_16">     
            <div id="content" class="container_16">
                <div id="internal_header">
                    <div id="header_left_bg"></div>
                    <div id="header_middle_bg"></div>
                    <div id="header_right_bg"></div>
                    <div id="screenshots_box" class="grid_8" >
                        {{ block('screenshots_box') }}
                    </div>
                    <div id="header_right" class="grid_8 omega">
                        <div id="slogan_title">                            
                            {{ block('slogan_title') }}
                        </div>
                        <div id="slogan_box">
                            {{ block('slogan_box') }}
                        </div>
                        <div id="download">
                            {{ block('download_box') }}
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="sidebar" class="grid_16">
                    {% block contents %}{% endblock %}
                </div>

                <div class="clear"></div>
            </div>
            <div id="footer" class="container_16">
                <div id="links_footer_1" class="grid_6 ">
                    {{ block('nav_menu_2') }}
                </div>

                <div id="links_footer_2" class="grid_5 ">
                    {{ block('nav_menu_3') }}
                </div>
                <div id="social_box" class="grid_5 ">
                    {{ block('social_box') }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="information">
            <div id="copyright_box" class="container_16">
                {{ block('copyright_box') }}
            </div>
            <div id="stats_box" class="container_16">
                {{ block('stats_box') }}
            </div>
        </div>
    </div>
{% endblock %}