{% block box_title_1 %}
    {# BEGIN-SLOT
    name: box_title_1
    repeated: language
    htmlContent: |
        <h2>Internal menu title</h2>
    END-SLOT #}
    {{ renderSlot('box_title_1') }}
{% endblock %}

{% block nav_menu_4 %}
    {# BEGIN-SLOT
        name: nav_menu_4
        repeated: language
        htmlContent: |
            <ul>
                <li><a href="#">Internal link 1</a></li>
                <li><a href="#">Internal link 2</a></li> 
                <li><a href="#">Internal link 3</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('nav_menu_4') }}
{% endblock %}

{% block box_title_2 %}
    {# BEGIN-SLOT
       name: box_title_2
       repeated: language
       htmlContent: |
           <h2>Friends</h2>
       END-SLOT #}
    {{ renderSlot('box_title_2') }}
{% endblock %}

{% block friends_box %}
    {# BEGIN-SLOT
        name: friends_box
        repeated: language
        htmlContent: |
            <ul>
                <li><a href="#">Friend site link 1</a></li>
                <li><a href="#">Friend site link 2</a></li> 
                <li><a href="#">Friend site link 3</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('friends_box') }}
{% endblock %}

{% block middle_sidebar %}
    {# BEGIN-SLOT
        name: middle_sidebar
        htmlContent: |
            <h1>Main Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2>Secondary Title</h2>
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisici elit</a>, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
            <h3>Paragraph Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                <ul>                                
                    <li><a href="#">Link 1</a></li> 
                    <li>No link</li>
                    <li><a href="#">Link 2</a></li>
                </ul>
            </p>
    END-SLOT #}
    {{ renderSlot('middle_sidebar') }}
{% endblock %}

{% block ads_box %}
    {# BEGIN-SLOT
        name: ads_box
        htmlContent: |
            <p>Ads box</p>
    END-SLOT #}
    {{ renderSlot('ads_box') }}
{% endblock %}

{% block tweets_box %}
    {# BEGIN-SLOT
        name: tweets_box
        htmlContent: |
            <p>Tweet box</p>
    END-SLOT #}
    {{ renderSlot('tweets_box') }}
{% endblock %}

{% block feedback_box %}
    {# BEGIN-SLOT
        name: feedback_box
        repeated: language
        htmlContent: |
            <a href="https://twitter.com/alphalemon"> </a>
    END-SLOT #}
    {{ renderSlot('feedback_box') }}
{% endblock %}

{% block logo %}
    {# BEGIN-SLOT
        name: logo
        repeated: site
        htmlContent: |
            <h1>Company Name</h1>
    END-SLOT #}
    {{ renderSlot('logo') }}
{% endblock %}

{% block search_box %}
    {# BEGIN-SLOT
        name: search_box
        repeated: language
        htmlContent: |
            Search <input type="text" value="type here your text" /><button/>Search</button>
    END-SLOT #}
    {{ renderSlot('search_box') }}
{% endblock %}

{% block nav_menu %}
    {# BEGIN-SLOT
        name: nav_menu
        repeated: language
        htmlContent: |
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li> 
                <li><a href="#">Contacts</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('nav_menu') }}
{% endblock %}

{% block screenshots_box %}
    {# BEGIN-SLOT
        name: screenshots_box
        repeated: language
        htmlContent: |
            <img src="/bundles/sunshinetheme/css/images/screenshot.png" />
    END-SLOT #}
    {{ renderSlot('screenshots_box') }}
{% endblock %}

{% block slogan_title %}
    {# BEGIN-SLOT
        name: slogan_title
        repeated: language
        htmlContent: |
            <h1>My awesome company</h1>
    END-SLOT #}  
    {{ renderSlot('slogan_title') }}
{% endblock %}

{% block slogan_box %}
    {# BEGIN-SLOT
        name: slogan_box
        repeated: language
        htmlContent: |
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
    END-SLOT #}   
    {{ renderSlot('slogan_box') }}
{% endblock %}

{% block download_box %}
    {# BEGIN-SLOT
        name: download_box
        repeated: language
        htmlContent: |
            <img src="/bundles/sunshinetheme/css/images/download.png" />
    END-SLOT #}
    {{ renderSlot('download_box') }}
{% endblock %}

{% block nav_menu_2 %}
    {# BEGIN-SLOT
        name: nav_menu_2
        repeated: language
        htmlContent: |
            <h2>Navigation</h2>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li> 
                <li><a href="#">Link 3</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('nav_menu_2') }}
{% endblock %}

{% block nav_menu_3 %}
    {# BEGIN-SLOT
        name: nav_menu_3
        repeated: language
        htmlContent: |
            <h2>Friends</h2>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li> 
                <li><a href="#">Link 3</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('nav_menu_3') }}
{% endblock %}

{% block social_box %}
    {# BEGIN-SLOT
        name: social_box
        repeated: language
        htmlContent: |
            <h2>Social</h2>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li> 
                <li><a href="#">Linked-in</a></li>
            </ul>
    END-SLOT #}
    {{ renderSlot('social_box') }}
{% endblock %}

{% block copyright_box %}
    {# BEGIN-SLOT
        name: copyright_box
        repeated: site
        htmlContent: |
            Copyright 2012 myCompany
    END-SLOT #}
    {{ renderSlot('copyright_box') }}
{% endblock %}

{% block stats_box %}
    {# BEGIN-SLOT
        name: stats_box
        repeated: site
        htmlContent: |
            Stats box
    END-SLOT #}
    {{ renderSlot('stats_box') }}
{% endblock %}

{% block left_sidebar %}
    {# BEGIN-SLOT
        name: left_sidebar
        htmlContent: |
            <h1>Title 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    END-SLOT #}
    {{ renderSlot('left_sidebar') }}
{% endblock %}

{% block right_sidebar %}
    {# BEGIN-SLOT
        name: right_sidebar
        htmlContent: |
            <h1>Title 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    END-SLOT #}
    {{ renderSlot('right_sidebar') }}
{% endblock %}

{% block screencast_sidebar %}
    {# BEGIN-SLOT
        name: screencast_sidebar
        htmlContent: |
            <h1>Main Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2>Secondary Title</h2>
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisici elit</a>, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
            <h3>Paragraph Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                <ul>                                
                    <li><a href="#">Link 1</a></li> 
                    <li>No link</li>
                    <li><a href="#">Link 2</a></li>
                </ul>
            </p>
    END-SLOT #}
    {{ renderSlot('screencast_sidebar') }}
{% endblock %}